*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 105%;
}

p{
  margin-top: 25px;
}

body{
  background-color: #F6F8F9;
}

/********* Article kinds  ***********/

.article{
  padding: 0.5% 1%;
  border-radius: 25px;
  color: white;
  font-size: 60%;
}

.editorial{
  background-color: #47ADF1;
}

.q1goals{
  background-color: #9C72E4;
}

.recruiting{
  background-color:#64C0A9;
}

.mobile{
  background-color:#F29E33;
}

.website{
  background-color: #D75E9E;
}

.sales{
  background-color: #B0C926;
}

/******* Adds before **********/

.triangle::before{
  content: "\25BC";
}

.adds{
  width: 5px;
  height: 5px;
  padding: 5px;
  border: solid 1px;
  font-size: 13px;
  border-radius: 50%;
}

.positive{
  border-color: green;
  color: green;
}

.negative{
  border-color: red;
  color: red;
}

/************* BANNER LOGO *************/

.start-banner{
  background: white;
  width: 100%;
  height: 70px;
  padding: 10px;
}

.start-banner > img, .start-title {
  vertical-align: middle;
}

.start-title{
  display: inline-block;
  font-size: 200%;
}

/**** Instructions for the main box ****/

main{
  width: 70%;
  margin:5% auto;
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */
  background-color: white;
  border-radius: 3px;
  line-height: 230%;
}

/********* First box Section ***********/

.pad-box{
  padding-left: 8%;
}

.header-main{
  border-bottom: 1px solid #F6F8F9;
}

.header-main > div{
  display: inline-block;
}

.button{
  border: none;
  border-radius: 10px;
  margin: 2%;
  padding: 1% 2% 1% 2%;
  font-size: 80%;
}

input[type=button]{
  margin: 10px 0px;
}

.first{
  background-color: #47ADF1;
  margin-right: 2px;
  color: white;
}

.second{
  border: 1px solid #D1D6DA ;
  color:#D1D6DA ;
  background-color: white;
}

/******* Second box Section **************/
/* 
.main-main{
  padding: 15px 35px;
} */
